<!-- <style>
alignment {
    align-items: center;
    justify-content: center;
    padding-top:140px;
    padding-left: 250px;
    padding-bottom:50px;
}
more-info-text {
    font-size: 8px;
    font-family: "sans-serif";
    font-weight: normal;
}
container {
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    height: 100%;

    &:before, &:after {
        content: '';
        display: block;
        width: var(--ds-banner-background-gradient-width);
        height: 100%;
        top: 0;
        position: absolute;
    }

    &:before {
        background: linear-gradient(to left, var(--ds-banner-content-background), transparent);
        left: calc(-1 * var(--ds-banner-background-gradient-width));
    }

    &:after {
        background: linear-gradient(to right, var(--ds-banner-content-background), transparent);
        right: calc(-1 * var(--ds-banner-background-gradient-width));
    }
    background-color: var(--ds-banner-content-background);
}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p {
  font-size: 8px;
  color: #006da3;
  font-family: courier;
  font-size: 160%;
}
</style> -->
<!-- <div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h4 class="display-3 alignment">SARAO Repository</h4>
          <div class="search-wrapper">
              <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
          </div>
          <div class="wrapper">
            <div class="md-column">
              <h3 class="title"> Overview </h3>
                <p class="more-info-text" >Sarao is leading South Africa’s</p>
                <p class="more-info-text"> involvement in the SKA </p>
                <p class="more-info-text"> on behalf of Department of </p>
                <p class="more-info-text"> Science & Innovation.</p>
            </div>
            <div class="column">
              <h3 class="title" >Sarao</h3>
              <p class="more-info-text">
                <p class="more-info-text">The South African Radio</p>
                <p class="more-info-text">Astronomy Observatory(SARAO) is a</p>
                <p class="more-info-text">national facility managed by</p>
                <p class="more-info-text">the National Research Foundation</p>
                <p class="more-info-text">(NRF) and incorporates all</p>
                <p class="more-info-text">national radio astronomy</p>
                <p class="more-info-text">telescopes and programmes</p>
              <p>
            </div>
            <div class="column">
              <h3 class="title">Contact Us </h3>
              <p class="more-info-text">Email: enquiries@ska.ac.za</p>

              <p class="more-info-text">Cape town</p>
              <p class="more-info-text">Tel : +27 (0)21 506 7300</p>
              <p class="more-info-text">2 Fir street, Black river park,</p>
              <p class="more-info-text">Observatory( North gate entrance, </p>
              <p class="more-info-text">  Cape Town, South Africa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
