
<!DOCTYPE html>
<html>
  <head>
    <title>Dspace DOI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white"> -->
      <nav class="navbar  navbar-light bg-white">
      <!-- <div class="row"> -->
        <div  class="middle">
          <h1>Metadata For Data or Report Release</h1>
          <p class="para">
            The information collected using this form will be used to generate a
            DOI on Datacite and add the metadata to the SARAO repository.
          </p>
        </div>
        <div class="right">
          <ul>
            <li>
              <a
                href="../../assets/pdf/About_Fields (1).pdf"
                >About fields</a
              ><br />
            </li>
            <li>
              <a
                href="https://skaafrica.atlassian.net/servicedesk/customer/portals/" 
                >Contact us</a
              >
            </li>
          </ul>
        </div>
      <!-- </div> -->
    </nav>
    <div class="container-main bg-3 text-center">
      <h3>Please fill in the following fields</h3>
      <br />
      <form name="forms" id="forms"   #myForm="ngForm" (ngSubmit)="submitForm();">
        <!-- <label for="generate"
          >Request or Update DOI: <span class="required"> * </span></label
        ><br />
        <select id="generate" onchange="enableGenerate(this)" [(ngModel)]="doi" required >
          <option value="">Request a new DOI or update an existing DOI</option>
          <option value="0">Request</option>
          <option value="1">Update</option>
        </select> -->
        <label for="generate"
          >Request or Update DOI: <span class="required"> * </span></label
        ><br />
        <select id="generate" name="Doi" (change)="enableGenerate1($event.target.value)" [(ngModel)]="doi" required>
          <option value="">Request a new DOI or update an existing DOI</option>
          <option value="0">Request</option>
          <option value="1">Update</option>
        </select>
        <br />
        <label for="upgrade1" id="upgrade" [class.d-none]="isUpgradeHidden"
          >DOI to upgrade: <span class="required"> * </span></label
        ><br />
        <input
          type="text"
          id="upgrade1"
          maxlength="9"
          size="10"
          [class.d-none]="isUpgradeHidden"
          name="upgrade1"
          [(ngModel)]="upgrade1"
        />
        <br />
        <label for="primaryOptions"
          >Community: <span class="required"> * </span></label
        >
        <br />
        <select
          id="primaryOptions"
          (change)="updateSecondaryOptions($event.target.value)"
          name="country"
          [(ngModel)]="community"
        >
          <option value="">-- Select --</option>
          <option value="MeerKAT">MeerKAT</option>
          <option value="HartRAO_15m_telescope">HartRAO_15m_telescope</option>
          <option value="HartRAO_26m_telescope">HartRAO_26m_telescope</option>
          <option value="DORIS_Doppler_satellite_racking_system">DORIS_Doppler_satellite_racking_system</option>
          <option value="GNSS_Reference_stations">GNSS_Reference_stations</option>
          <option value="Meteorology_instrumentation">Meteorology_instrumentation</option>
          <option value="Moblas_6_Satellite_Laser_Ranger">Moblas_6_Satellite_Laser_Ranger</option>
          <option value="ROSCOSMOS_Satellite_Laser_Ranger">ROSCOSMOS_Satellite_Laser_Ranger</option>
          <option value="Seismology_and_gravimetry_instrumentation">Seismology_and_gravimetry_instrumentation</option>
          <option value="Tide_Gauges">Tide_Gauges</option>
          <option value="Total_station_instrumentation">Total_station_instrumentation</option>
        </select>
        <br />
        <label for="secondaryOptions"
          >Collection: <span class="required"> * </span></label
        >
        <br />
        <select id="secondaryOptions" (change)="updateCollection($event)"  >
          <option value="">-- Select --</option>
          <option name="collection"  *ngFor="let option of secondaryOptionValues" [value]="option" [(ngModel)]="collection">
            {{ option }}
          </option>
        </select>
        <br />
        <label for="Resource"
          >Resource type: <span class="required"> * </span></label
        ><br />
        <select id="Resource" name="Resource" placeholder="--select--"  [(ngModel)]="resource" required>
          <option value="Dataset">Dataset</option>
          <option value="Report">Report</option>
          <option value="Report">Other</option>
        </select>
        <br />

        <label for="Title" id="myList"
          >Title: <span class="required"> * </span></label
        ><br />
        <input
          type="text"
          id="Title"
          minlength="1"
          size="10"
          name="Title"
          [(ngModel)]="title"
          required
        /><br/>
        <label for="Auths"
          >Upload file containing author names or manually insert author
          details? <span class="required"> * </span></label
        ><br />
        <select
          id="Auths"
          placeholder="--Upload file or Fill in details--" 
          (change)="enableGenerate($event.target.value)"
          required
        >
          <!-- <option value="" [class.d-none]="showFiles === ''">--Upload file or Fill in details--</option> -->
          <option value="2">Fill in author details</option>
          <br/>
          <option value="3">Upload file with author details</option></select
        ><br />

        <div id="filesys" *ngIf="!isStringEmpty(showFiles)" [class.d-none]="showFiles === '2'"> <br>
          <input id="files" type="file"  class="center" name="files" />
        </div>
        <br/>
        <div *ngIf="isStringEmpty(showFiles)">
        </div>
        
        <table
          class="center"
          id="dataTable1"
          *ngIf="!isStringEmpty(showFiles)" 
          [class.d-none]="showFiles === '3'"
          width="350px"
          border="2"
        >

        <tr class="author-tiles">
              <td></td>
              <td><strong>First Name</strong></td>
              <td><strong>Last Name</strong></td>
              <td><strong>Initials</strong></td>
              <td><strong>Email</strong></td>
              <td><strong>Affiliation</strong></td>
              <td><strong>Orchid</strong></td>
            </tr>
          
          <tr class="author-tile" *ngFor="let author of authors">
              <td><input type="checkbox" name="chk" [(ngModel)]="author.checked" (change)="updateChecked($event,author.id)"/></td>
              <td>{{ author.firstName }}</td>
              <td>{{ author.lastName }}</td>
              <td>{{ author.initials }}</td>
              <td>{{ author.email }}</td>
              <td>{{ author.affiliation }}</td>
              <td>{{ author.orchid }}</td>
        </tr>
          <tr >
            <td><input type="checkbox" name="checked" /></td>
            <td><input type="text" name="firstName" [(ngModel)]="authorData.firstName"   required></td>
            <td><input type="text" name="firstName" [(ngModel)]="authorData.lastName" required></td>
            <td><input type="text" name="initials" [(ngModel)]="authorData.initials" required></td>
            <td><input type="text" name="email" [(ngModel)]="authorData.email" required></td>
            <td><input type="text" name="affiliation" [(ngModel)]="authorData.affiliation" required></td>
            <td><input type="text" name="orchid" [(ngModel)]="authorData.orchid" required></td>
          </tr>
        </table> <br>
        <input id="addAuth" class="innerborder d-none" type="button" *ngIf="!isStringEmpty(showFiles)" [class.d-none]="showFiles === '3'" (click)="addAuthor()" value="Add Author" />
        <span class="button-space"></span>
        <input id="delAuth" class="innerborder d-none" type="button" *ngIf="!isStringEmpty(showFiles)" [class.d-none]="showFiles === '3'"(click)="deleteAuthor()" value="Delete Author"/>
        <br /><INPUT
          id="addAuth"
          class="innerborder d-none"
          type="button"
          value="Add Author"
          onclick="addRow1('dataTable1')"
        />
        <INPUT
          id="delAuth"
          class="innerborder d-none"
          type="button"
          value="Delete Author"
          onclick="deleteRow1('dataTable1')"
        /><br />
        <label for="Abstract">Abstract: <span class="required"> * </span></label
        ><br />
        <textarea
          class="comment center"
          rows="5"
          cols="130"
          name="Abstract"
          type="text"
          placeholder="Enter details here"
          [(ngModel)]="abstract"
          required
        ></textarea>
        <br />
        <label for="Published_date"
          >Published date: <span>  </span></label
        >
        <br />
        <input
          type="date"
          max="3000-01-01"
          name="Published_date"
          [(ngModel)]="date"
        />
        <br />

        <label for="Location"
          >Location of data: <span class="required"> * </span></label
        ><br />
        <input
          type="text"
          id="Title"
          minlength="1"
          size="10"
          name="Location"
          [(ngModel)]="location2" 
          required
        /><br />
        <br />

        <label for="paperLink">Link to published paper: </label><br />
        <input
          type="text"
          id="paperLink"
          minlength="1"
          size="10"
          name="paperLink"
          [(ngModel)]="link" 
        /><br />
        <br />

        <br />
        <label for="release"
          >Data/Reports to be released:
          <span class="required" name="release" ngDefaultControl [(ngModel)]="release"> * </span> </label
        ><br />
        <table class="center" id="dataTable" width="350px" border="2">
          
        <tr class="author-tile" id="dataTable" width="350px" border="2">
          <td></td>
          <td><strong>Download</strong></td>
          <td><strong>Description</strong></td>
        </tr>
      
      <tr class="author-tile" *ngFor="let entry of release">
          <td><input type="checkbox" name="chk" [(ngModel)]="entry.checked" (change)="updateSelected($event, entry.id)"/></td>
          <td>{{ entry.download }}</td>
          <td>{{ entry.description }}</td>
    </tr>
      <tr >
        <td><input type="checkbox" name="chk" /></td>
        <td><input type="text" name="download" [(ngModel)]="releaseData.download" required></td>
        <td><input type="text" name="description" [(ngModel)]="releaseData.description" required></td>
      </tr>
        </table>
        <br />
        <input id="addrow" class="innerborder" type="button" value="Add Row" (click)="addRow()">
        <span class="button-space"></span>
        <input id="delrow" class="innerborder" type="button" value="Delete Row" (click)="deleteRow()">

        <br />
        <SCRIPT>
          //check required fields function checkrRequired(inputArr) {
          inputArr.forEach(function(input) { if(input.value.trim() === '') {
          showError(input, `${getFieldName(input)} is required`); } else {
          showValid(input); } });
        </SCRIPT>
        <div class="container-main right" style="padding-top: 20px">
          <button
            class="innerborder"
            id="submitBtn"
            type="submit"
            onsubmit="validateForm()"
          >
            Submit
          </button>
        </div>
        <br />
      </form>
      <script>
        // function validateForm() {
        //   var name = document.getElementById("firstname").value;
        //   var email = document.getElementById("Email").value;

        //   if (name == "" || email == "") {
        //     alert("Please fill out all required fields.");
        //     return false;
        //   }

        //   if (!validateEmail(email)) {
        //     alert("Please enter a valid email address.");
        //     return false;
        //   }

        //   return true;
        // }

        // function validateEmail(email) {
        //   var re = /\S+@\S+\.\S+/;
        //   return re.test(email);
        // }
      </script>
      <footer>
        <div class="container p-3">
          <div class="row">
            <div class="col-12 text-center">
              <span class="info"
                ><br />The requested DOI form will be uploaded on the Repository
                available at
                <a
                  color="dark blue"
                  rel="website"
                  href="http://dspace.sdp.kat.ac.za"
                  >SARAO Repository</a
                ></span
              >
            </div>
          </div>
        </div>
      </footer>
      <script>
        // get the form element from dom
        const formElement = document.querySelector("form#forms");

        // convert the form to JSON
        const getFormJSON = (form) => {
          const data = new FormData(form);
          return Array.from(data.keys()).reduce((result, key) => {
            if (result[key]) {
              result[key] = data.getAll(key);
              return result;
            }
            result[key] = data.get(key);
            return result;
          }, {});
        };

        // handle the form submission event, prevent default form behaviour, check validity, convert form to JSON
        const handler = (event) => {
          event.preventDefault();
          const valid = formElement.reportValidity();
          if (valid) {
            const result = getFormJSON(formElement);
            // handle one, multiple or no files uploaded
            const languages = [result.languages || []].flat();
            // convert the checkbox to a boolean
            const isHappyReader = !!(
              result.isHappyReader && result.isHappyReader === "on"
            );

            // use spread function, but override the keys we've made changes to
            const output = {
              result,
              languages,
              isHappyReader,
            };
            console.log(output);
          }

          document
            .getElementById("submitBtn")
            .addEventListener("click", function (event) {
              event.preventDefault(); // prevent form from submitting

              var requiredFields = document.querySelectorAll(".required");
              var isValid = true;

              // check if all required fields are filled in
              for (var i = 0; i < requiredFields.length; i++) {
                if (requiredFields[i].value === "") {
                  isValid = false;
                  break;
                }
              }

              if (isValid) {
                // submit the form if all required fields are filled in
                document.querySelector("form").submit();
              } else {
                // display error message if any required field is empty
                alert("Please fill in all required fields.");
              }
            });
          formElement.addEventListener("submit", handler);
        };
      </script>
    </div>
  </body>
</html>
