<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h2 class="display-3 alignment">SARAO Repository</h2>
          <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
          <div class="wrapper">
            <div class="md-column">
              <h3 class="title"> Overview </h3>
                <p class="more-info-text" >Sarao is leading South Africa’s</p>
                <p class="more-info-text"> involvement in the SKA </p>
                <p class="more-info-text"> on behalf of Department of </p>
                <p class="more-info-text"> Science & Innovation.</p>
            </div>
            <div class="column">
              <h3 class="title" >Sarao</h3>
              <p class="more-info-text">
                <p class="more-info-text">The South African Radio</p>
                <p class="more-info-text">Astronomy Observatory(SARAO) is a</p>
                <p class="more-info-text">national facility managed by</p>
                <p class="more-info-text">the National Research Foundation</p>
                <p class="more-info-text">(NRF) and incorporates all</p>
                <p class="more-info-text">national radio astronomy</p>
                <p class="more-info-text">telescopes and programmes</p>
              <p>
            </div>
            <div class="column">
              <h3 class="title">Contact Us </h3>
              <p class="more-info-text">Email: enquiries@ska.ac.za</p>

              <p class="more-info-text">Cape town</p>
              <p class="more-info-text">Tel : +27 (0)21 506 7300</p>
              <p class="more-info-text">2 Fir street, Black river park,</p>
              <p class="more-info-text">Observatory( North gate entrance, </p>
              <p class="more-info-text">  Cape Town, South Africa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
