* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.background-image-container {
  background: 
    linear-gradient(to left, var(--ds-banner-content-background), transparent),
    linear-gradient(to right, var(--ds-banner-content-background), transparent); 
  background-color: var(--ds-banner-content-background); /* Fallback for older browsers */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0; /* Remove any default margin */
  // padding-top: 40px; /* Adjust this value to move content up/down */
}

.jumbotron {
  background-color: transparent; /* Transparent to see the gradient background */
  text-align: center; /* Center text inside the jumbotron */
  width: 100%;
}

.alignment {
  font-size: 5rem; /* Larger font size */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300; /* Slimmer font weight */
  color: white;
  padding-top: 20px;
  margin-bottom: 40px; /* Reduced space between the title and search form */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.search-wrapper {
  width: 100%; /* Ensures search form takes full width */
  max-width: 800px; /* Limits the max width */
  margin: 0 auto; /* Center horizontally */
  padding-bottom: 20px; /* Adjust to move the search bar up/down */
}


// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html, body {
//   height: 100%;
// }

// .background-image-container {
//   background: 
//     linear-gradient(to left, var(--ds-banner-content-background), transparent),
//     linear-gradient(to right, var(--ds-banner-content-background), transparent); 
//   background-color: var(--ds-banner-content-background); /* Fallback for older browsers */
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh; /* Full viewport height */
//   width: 100vw; /* Full viewport width */
//   margin: 0; /* Remove any default margin */
// }

// .jumbotron {
//   background-color: transparent; /* Transparent to see the gradient background */
//   text-align: center; /* Center text inside the jumbotron */
//   width: 100%;
// }

// .alignment {
//   font-size: 4rem; /* Larger font size */
//   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
//   font-weight: normal;
//   color: white;
//   margin-bottom: 30px; /* Space between the title and search form */
//   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect */
// }

// .search-wrapper {
//   width: 100%; /* Ensures search form takes full width */
//   max-width: 800px; /* Limits the max width */
//   margin: 0 auto; /* Center horizontally */
// }


